.About {
    margin-top: 5em;
}

.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    .items {
        width: 1023px;
        margin-bottom: 2em;
    }
}