* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: white;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.linkNav {
    display: flex;
    column-gap: 3em;
}

.linkNav li {
    color: #ff6060;
}