* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 1240px;
    margin: auto;
    background-color: white;
    color: white;
    font-family: sans-serif;
}